
*.pyc
.ipynb_checkpoints/spikes_eda-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/spikes_eda-checkpoint.ipynb
.ipynb_checkpoints/sessions_eda-checkpoint.ipynb
.ipynb_checkpoints/behaviour_eda-checkpoint.ipynb
kite_tutorial.ipynb
.ipynb_checkpoints/kite_tutorial-checkpoint.ipynb
.virtual_documents/kite_tutorial.ipynb.py
.ipynb_checkpoints/pipeline-checkpoint.ipynb
.ipynb_checkpoints/pipeline-checkpoint.ipynb
